<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>玩玩</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
</head>
<body>
    <div id="app">
        <div>clicked</div></div>
<script>
    var app=new Vue({
        el:"#app",
        data:{
            books:[],
        },
         mounted:function(){
            console.log(1111)
             this.getData()
       }, methods:{
           getData(){

            }
        },
    });
</script>
</body>

</html>